{% extends 'master.html' %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <button class="btn btn-primary">
                        <i class="fas fa-plus-circle"></i>
                        Add
                    </button>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-borderless table-striped">
                            <thead>
                            <tr class="bg-primary">
                                <th>No.</th>
                                <th>Name</th>
                                <th>Gender</th>
                                <th>Phone</th>
                                <th>E-mail</th>
                                <th>Address</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in range(10) %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>Soron</td>
                                    <td>Male</td>
                                    <td>031 37 2000 5</td>
                                    <td>soronnosloy@hotmail.com</td>
                                    <td>Stueng meanchey</td>
                                    <td>
                                        <button
                                                class="btn btn-sm btn-outline-primary"
                                        >
                                            <i class="fas fa-eye"></i>
                                            View
                                        </button>
                                        <button
                                                class="btn btn-sm btn-outline-secondary"
                                        >
                                            <i class="fas fa-edit"></i>
                                            Edit
                                        </button>
                                        <button
                                                class="btn btn-sm btn-outline-secondary"
                                        >
                                            <i class="fas fa-trash"></i>
                                            Delete
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
