{% extends 'master.html' %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <a href="{{ url_for('user') }}">
                        <button class="btn btn-secondary">
                            <i class="far fa-arrow-alt-circle-left"></i>
                            Back
                        </button>
                    </a>
                </div>
                <div class="card-body">
                  <center>
                      <h3>User Name: {{ data['name'] }}</h3>
                      <h3>User Gender: {{ data['gender'] }}</h3>
                      <h3>User Phone: {{ data['phone'] }}</h3>
                      <h3>User Email: {{ data['email'] }}</h3>
                      <h3>User Address: {{ data['address'] }}</h3>
                  </center>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
